extends ../layout

block content
    .page-header
        h3 Facility Details
        form.form-horizontal(action='/account/UpdateFacilityDetails', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.required
                label.col-sm-3.control-label(for='facilityName') Facility Name
                .col-sm-7
                    input.form-control(type='text', required='required', name='facilityName', id='facilityName', value='#{facilityName}')
            .form-group.required
                label.col-sm-3.control-label(for='address1') Address Line 1
                .col-sm-7
                    input.form-control(type='text', required='required', name='address1', id='address1', value='#{address1}')
            .form-group
                label.col-sm-3.control-label(for='address2') Address Line 2
                .col-sm-7
                    input.form-control(type='text', name='address2', id='address2', value='#{address2}')
            .form-group.required
                label.col-sm-3.control-label(for='city') City
                .col-sm-7
                    input.form-control(type='text', required='required', name='city', id='city', value='#{city}')
            .form-group.required
                label.col-sm-3.control-label(for='state') State
                .col-sm-7
                    input.form-control(type='text', required='required', name='State', id='State', value='#{state}')
            .form-group.required
                label.col-sm-3.control-label(for='zipcode') Zip Code
                .col-sm-7
                    input.form-control(type='number', required='required', name='zipcode', id='zipcode', value='#{zipcode}')
            .form-group.required
                label.col-sm-3.control-label(for='contactName') Point of Contact Name
                .col-sm-7
                    input.form-control(type='text', required='required', name='contactName', id='contactName', value='#{contactName}')
            .form-group.required
                label.col-sm-3.control-label(for='contactPhone') Point of Contact Phone Number
                .col-sm-7
                    input.form-control(type='tel', required='required', name='contactPhone', id='contactPhone', value='#{contactPhone}')
            .form-group.required
                label.col-sm-3.control-label(for='contactEmail') Point of Contact Email Address
                .col-sm-7
                    input.form-control(type='email', required='required', name='contactEmail', id='contactEmail', value='#{contactEmail}')
            .form-group
                label.col-sm-3.control-label(for='buildingName') Building Number (if applicable)
                .col-sm-7
                    input.form-control(type='text', name='buildingName', id='buildingName', value='#{buildingName}')
            .form-group.required
                label.col-sm-3.control-label(for='locationName') Room / Location
                .col-sm-7
                    input.form-control(type='text', required='required', name='locationName', id='locationName', value='#{locationName}')
            .form-group.required
                label.col-sm-3.control-label(for='roomSize') Room Size
                .col-sm-7
                    input.form-control(type='text', required='required', name='roomSize', id='roomSize', value='#{roomSize}')
            .form-group
                label.col-sm-3.control-label(for='securityNeeded') Is security necessary during performances?
                .col-sm-7
                    select.form-control(name="securityNeeded" id="securityNeeded" value='#{securityNeeded}')
                        option(value='-') -
                        option(value='no') No
                        option(value='yes') Yes
            .form-group
                label.col-sm-3.control-label(for='waiverNeeded') Are musicians (or guests) required to sign a waiver or any other form prior to accessing the facility?
                .col-sm-7
                    select.form-control(name="waiverNeeded" id="waiverNeeded" value='#{waiverNeeded}')
                        option(value='no') No
                        option(value='yes') Yes
            .form-group.required
                label.col-sm-3.control-label(for='patientNumber') Expected Number of Patients at performances
                .col-sm-7
                    input.form-control(type='text', required='required', name='patientNumber', id='patientNumber', value='#{patientNumber}')
            .form-group
                .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(type='submit')
                        span.ion-person-add
                        | Submit

